$main-color: #e76f51;
$main-background: linear-gradient(to right, #f5af19, #f12711);

$orange-color: #f4a261;
$yellow-color: #e9c46a;
$lime-color: #c4dfaa;
$light-green-color: #2a9d8f;
$sky-color: #457b9d;
$dark-color: #264653;
$light-dark-color: #354f52;
$red-color: #ff3a40;
$white-color: #ffffffff;
$offWhite-color: #e9ecef;
$silver-color: #d9dcd6;
$modal-color: #2125296e;
$petrol-color: #15616f;
