@use '../../../sass/Variables' as *;

.create-blog {
  position: relative;
  .submit-btn {
    border: none;
    background: $yellow-color;
    font: {
      weight: Bold;
      size: 1em;
    }
    color: $petrol-color;
    &:hover {
      background: $main-color !important;
      color: $silver-color;
    }
  }
  .create-blog-form {
    background: #bbd2c5; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #536976,
      #bbd2c5
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #536976,
      #bbd2c5
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 8px;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    label {
      font: {
        weight: Bold;
        size: 1.2em;
      }
    }
    .title {
      background-color: $silver-color;
      border-radius: 5px;
      padding: 0.5em 1.3em;
      font: {
        weight: Bold;
        size: 2em;
      }
      color: $main-color;
      text-align: center;
    }
  }
}
